<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Apolo</h3>
            <p> 
              <br>
              <br>
              <br>
              <strong>Phone:</strong> 555-666-777 <br>
              <strong>Email:</strong> soporte@outlook.cl <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Apolo</span></strong>. Todos los derechos reservados
    </div>
  </div>
</footer>