<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="formularios">
            
                <form method="post"  enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="username" class="form-label">Título</label>
                        <input  type="text" name="nombre" class="form-control" id="username" aria-describedby="username">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Subtítulo</label>
                        <input  type="text" name="nombre" class="form-control" id="username" aria-describedby="username">
                    </div>
                    <div>
                        Ingresa el archivo:
                        <input name="imagen" type="file" />
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Detalle</label>
                        <input type="text" name="nombre" class="form-control" id="username" aria-describedby="username">
                    </div>
                    
                </form>
                <button  class="btn btn-primary" >Subir</button>
        </div>
    </div>
</section>