<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="formularios">    
                <form method="post"  enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="username" class="form-label">Título</label>
                        <input  type="text" name="nombre" class="form-control" id="username" aria-describedby="username"
                        [(ngModel)]="agregarNoticia.titulo">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Subtítulo</label>
                        <input  type="text" name="nombre" class="form-control" id="username" aria-describedby="username"
                        [(ngModel)]="agregarNoticia.subtitulo">
                    </div>
                    <div>
                        Ingresa el archivo:
                        <p-fileUpload mode="basic" name="myfile[]" [customUpload]="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
                        <br>
                        <img src="data:{{agregarNoticia.tipo}};base64,{{agregarNoticia.imagen}}" width="20%">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Detalle</label>
                        <input type="text" name="nombre" class="form-control" id="username" aria-describedby="username"
                        [(ngModel)]="agregarNoticia.detalle">
                    </div>            
                </form>
                <button  class="btn btn-primary" (click)="registrar(agregarNoticia)"> Publicar Noticia </button>
        </div>
    </div>
</section>